.logo-anim1 {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 10%;
    right: 60%;
    background: url(../images/scritta.png) no-repeat 100% 100%;
    background-size: contain;
}


.astro {
    position: absolute;
    top: 25%;
    left: 55%;
    width: 400px;
    max-width: 40vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/astro.png");
    -webkit-animation: astro-swing 25s linear infinite alternate;
    animation: astro-swing 25s linear infinite alternate;
}
.astro::after {
    content: "";
    display: block;
    padding-bottom: 58%;
}


.space {
    position: relative;
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    .space {
        min-height: 70vh;
    }
}

@media screen and (orientation:landscape) {
    .space {
        min-height: 140vh;
    }
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}
.star::before, .star::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    box-shadow: 73vw 41vh 1px 0px, 84vw 76vh 1px -0.5px, 28vw 78vh 1px -1px, 12vw 42vh 1px -0.5px, 61vw 71vh 1px -0.5px, 61vw 92vh 1px -0.5px, 38vw 99vh 1px 0px, 30vw 11vh 1px -1px, 31vw 83vh 1px 0px, 62vw 97vh 1px 0px, 96vw 35vh 1px -0.5px, 65vw 80vh 1px 0px, 70vw 79vh 1px 0px, 78vw 96vh 1px -0.5px, 38vw 55vh 1px 0px, 57vw 5vh 1px -0.5px, 28vw 100vh 1px -1.5px, 28vw 76vh 1px -0.5px, 2vw 43vh 1px -1.5px, 76vw 70vh 1px -1px, 55vw 32vh 1px -1px, 22vw 26vh 1px -1.5px, 9vw 21vh 1px -1.5px, 81vw 71vh 1px -1.5px, 54vw 85vh 1px -1.5px, 63vw 35vh 1px 0px, 43vw 1vh 1px -1px, 33vw 83vh 1px -1.5px, 53vw 35vh 1px -1px, 10vw 32vh 1px -1px, 53vw 60vh 1px -0.5px, 62vw 13vh 1px 0px, 35vw 91vh 1px -1.5px, 69vw 73vh 1px -1.5px, 34vw 94vh 1px -1px, 80vw 27vh 1px -1px, 28vw 16vh 1px 0px, 75vw 14vh 1px -0.5px, 61vw 63vh 1px -1.5px, 70vw 42vh 1px 0px, 59vw 7vh 1px -0.5px, 100vw 4vh 1px -1.5px, 57vw 91vh 1px 0px, 5vw 89vh 1px -1.5px, 65vw 77vh 1px -1px, 60vw 89vh 1px -1.5px, 19vw 12vh 1px -1.5px, 15vw 87vh 1px 0px, 71vw 39vh 1px -1px, 42vw 64vh 1px -1.5px;
    border-radius: 1px;
    color: #fff;
    will-change: opacity, transform;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-animation: twinkling infinite 10s, rolling infinite 15s linear;
    animation: twinkling infinite 10s, rolling infinite 15s linear;
}
@-webkit-keyframes twinkling {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}
@keyframes twinkling {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}
@-webkit-keyframes rolling {
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes rolling {
    to {
        -webkit-transform: none;
        transform: none;
    }
}
.star::before {
    left: -100vw;
}
.star:nth-of-type(2)::before {
    -webkit-animation-duration: 19s, 23s;
    animation-duration: 19s, 23s;
}
.star:nth-of-type(2)::after {
    -webkit-animation-duration: 11s, 13s;
    animation-duration: 11s, 13s;
}

.rocket {
    position: absolute;
    bottom: 40%;
    left: 35%;
    width: 1000px;
    max-width: 80vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/razzoSu.png");
    -webkit-animation: rocket-swing 20s linear infinite alternate;
    animation: rocket-swing 20s linear infinite alternate;
}
.rocket::after {
    content: "";
    display: block;
    padding-bottom: 58%;
}


.pops {
    position: absolute;
    bottom: 55%;
    left: 30%;
    width: 700px;
    max-width: 70vmin;
}
.rocket-pop {
    position: absolute;
    width: 1em;
    height: 1em;
    margin-left: -12%;
    -webkit-animation: rocket-pops 3s ease-out infinite;
    animation: rocket-pops 3s ease-out infinite;
    background-color: #ccc;
    border-radius: 50%;
}
.rocket-pop:nth-of-type(1) {
    opacity: 0.37;
    font-size: 3.9vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
    -webkit-transform: rotate(-7deg) translate3d(-13vw, 0%, 0) scale(1.3);
    transform: rotate(-7deg) translate3d(-0%, 13vw, 0) scale(1.3);
}
.rocket-pop:nth-of-type(2) {
    opacity: 0.38;
    font-size: 4.7vmin;
    bottom: 56%;
    left: 22vw;
    -webkit-animation-delay: -1.35s;
    animation-delay: -1.35s;
    -webkit-transform: rotate(2deg) translate3d(-20vw, 0%, 0) scale(1);
    transform: rotate(2deg) translate3d(-0%,20vw, 0) scale(1);
}
.rocket-pop:nth-of-type(3) {
    opacity: 0.46;
    font-size: 5.4vmin;
    bottom: 56%;
    left: 21vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(4deg) translate3d(-18vw, 0%, 0) scale(0.9);
    transform: rotate(4deg) translate3d(-0%,18vw, 0) scale(0.9);
}
.rocket-pop:nth-of-type(4) {
    opacity: 0.65;
    font-size: 5.4vmin;
    bottom: 56%;
    left: 17vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(10deg) translate3d(-21vw, 0%, 0) scale(1.1);
    transform: rotate(10deg) translate3d(-0%,21vw, 0) scale(1.1);
}
.rocket-pop:nth-of-type(5) {
    opacity: 0.6;
    font-size: 8vmin;
    bottom: 56%;
    left: 15vw;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-transform: rotate(-8deg) translate3d(-17vw, 0%, 0) scale(0.7);
    transform: rotate(-8deg) translate3d(-0%,17vw, 0) scale(0.7);
}
.rocket-pop:nth-of-type(6) {
    opacity: 0.66;
    font-size: 4.2vmin;
    bottom: 56%;
    left: 24vw;
    -webkit-animation-delay: -2.25s;
    animation-delay: -2.25s;
    -webkit-transform: rotate(-4deg) translate3d(7vw, 0%, 0) scale(1.2);
    transform: rotate(-4deg) translate3d(-0%,7vw, 0) scale(1.2);
}
.rocket-pop:nth-of-type(7) {
    opacity: 0.51;
    font-size: 3.6vmin;
    bottom: 56%;
    left: 21vw;
    -webkit-animation-delay: -1.65s;
    animation-delay: -1.65s;
    -webkit-transform: rotate(-1deg) translate3d(24vw, 0%, 0) scale(1);
    transform: rotate(-1deg) translate3d(-0%,24vw, 0) scale(1);
}
.rocket-pop:nth-of-type(8) {
    opacity: 0.52;
    font-size: 3.9vmin;
    bottom: 56%;
    left: 17vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(-4deg) translate3d(9vw, 0%, 0) scale(1.4);
    transform: rotate(-4deg) translate3d(-0%,9vw, 0) scale(1.4);
}
.rocket-pop:nth-of-type(9) {
    opacity: 0.69;
    font-size: 6.6vmin;
    bottom: 56%;
    left: 16vw;
    -webkit-animation-delay: -1.05s;
    animation-delay: -1.05s;
    -webkit-transform: rotate(10deg) translate3d(30vw, 0%, 0) scale(0.9);
    transform: rotate(10deg) translate3d(-0%,30vw, 0) scale(0.9);
}
.rocket-pop:nth-of-type(10) {
    opacity: 0.41;
    font-size: 4.6vmin;
    bottom: 56%;
    left: 27vw;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-transform: rotate(-9deg) translate3d(33vw, 0%, 0) scale(1.1);
    transform: rotate(-9deg) translate3d(-0%,33vw, 0) scale(1.1);
}
.rocket-pop:nth-of-type(11) {
    opacity: 0.63;
    font-size: 4.9vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
    -webkit-transform: rotate(0deg) translate3d(27vw, 0%, 0) scale(0.7);
    transform: rotate(0deg) translate3d(-0%,27vw, 0) scale(0.7);
}
.rocket-pop:nth-of-type(12) {
    opacity: 0.48;
    font-size: 5.6vmin;
    bottom: 56%;
    left: 21vw;
    -webkit-animation-delay: -1.95s;
    animation-delay: -1.95s;
    -webkit-transform: rotate(0deg) translate3d(12vw, 0%, 0) scale(1.1);
    transform: rotate(0deg) translate3d(-0%, 12vw,0) scale(1.1);
}
.rocket-pop:nth-of-type(13) {
    opacity: 0.7;
    font-size: 2.9vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(-7deg) translate3d(12vw, 0%, 0) scale(0.7);
    transform: rotate(-7deg) translate3d(-0%,12vw, 0) scale(0.7);
}
.rocket-pop:nth-of-type(14) {
    opacity: 0.54;
    font-size: 7.9vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -1.65s;
    animation-delay: -1.65s;
    -webkit-transform: rotate(-9deg) translate3d(32vw, 0%, 0) scale(0.7);
    transform: rotate(-9deg) translate3d(-0%,32vw, 0) scale(0.7);
}
.rocket-pop:nth-of-type(15) {
    opacity: 0.37;
    font-size: 4vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(1deg) translate3d(12vw, 0%, 0) scale(1.4);
    transform: rotate(1deg) translate3d(-0%,12vw, 0) scale(1.4);
}
.rocket-pop:nth-of-type(16) {
    opacity: 0.51;
    font-size: 6.6vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
    -webkit-transform: rotate(0deg) translate3d(18vw, 0%, 0) scale(1.4);
    transform: rotate(0deg) translate3d(-0%,18vw, 0) scale(1.4);
}
.rocket-pop:nth-of-type(17) {
    opacity: 0.66;
    font-size: 8vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(-2deg) translate3d(33vw, 0%, 0) scale(0.8);
    transform: rotate(-2deg) translate3d(-0%,33vw, 0) scale(0.8);
}
.rocket-pop:nth-of-type(18) {
    opacity: 0.42;
    font-size: 4.4vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(5deg) translate3d(34vw, 0%, 0) scale(0.8);
    transform: rotate(5deg) translate3d(-0%,34vw, 0) scale(0.8);
}
.rocket-pop:nth-of-type(19) {
    opacity: 0.33;
    font-size: 3vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -1.95s;
    animation-delay: -1.95s;
    -webkit-transform: rotate(7deg) translate3d(15vw, 0%, 0) scale(1);
    transform: rotate(7deg) translate3d(-0%, 15vw,0) scale(1);
}
.rocket-pop:nth-of-type(20) {
    opacity: 0.42;
    font-size: 5vmin;
    bottom: 56%;
    left: 20vw;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
    -webkit-transform: rotate(8deg) translate3d(19vw, 0%, 0) scale(0.9);
    transform: rotate(8deg) translate3d(-0%,19vw, 0) scale(0.9);
}
@-webkit-keyframes rocket-pops {
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }
}
@keyframes rocket-pops {
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }
}
body {
    margin: 0;
    background-color: #006076;
}

.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: .7;
}




@media (max-width: 40rem) {
    .slogan {

    }
}


