#okCookie{
    background-color:#F2F2F2;
    color:#333333;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px;
    font-family:sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top:1px solid #ccc;
    z-index:10;
}

#okCookie p{margin:0 0 10px 0; float:left; padding:5px 0px;}

#okCookie #okClose, #okCookie #okCprivacy{
    padding:5px 20px;
    float:right;
    margin-left:10px;
    text-decoration:none;
    border-radius:3px;
    color:white;
}

#okCookie #okClose{
    background-color:#39B54A;
    text-shadow:0px 1px 1px #507F2B;
    box-shadow:inset 0px -1px 1px #507F2B;
}

#okCookie #okClose:hover{background-color:#42ce55}

#okCookie #okCprivacy{
    background-color:#8D9499;
    text-shadow:0px 1px 1px #63666B;
    box-shadow:inset 0px -1px 1px #63666B;
}

#okCookie #okCprivacy:hover{background-color:#a0a8ae}

.okcBeginAnimate{
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}
