.magictime.onde {
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
}







.sm {
    position: absolute;
    right: 0;
    width: 150vw;
    height: 100%;
    bottom: 0;
    background: url("../images/sm.png") no-repeat 100% 100%;
    background-size: contain;
}


@media screen and (orientation:portrait) {
    .sm {
        width: 330vw;
    }
}







.logo {
    position: absolute;
    height: 70%;
    width: 100%;
    bottom: 30%;
    right: 57%;
    background: url(../images/scritta.png) no-repeat 100% 100%;
    background-size: contain;
}

/*@media screen and (max-width: 768px){
    .logo {
        height: 45%;
    }
}*/


@media screen and (orientation:portrait) {
    .logo {
        right: 31%;
        height: 47%;
        top: 9%;
    }
}






.ground {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background: #00263A no-repeat 100% 100%;
    background-size: contain;
}


.onde {
    position: absolute;
    right: 7%;
    bottom: 34%;
    width: 100%;
    height: 10%;
    background: url("../images/onde.png") no-repeat 100% 100%;
    background-size: contain;
}




.astro {
    position: absolute;
    top: 25%;
    left: 55%;
    width: 400px;
    max-width: 30vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/astro.png);
    -webkit-animation: astro-swing 25s linear infinite alternate;
    animation: astro-swing 25s linear infinite alternate;
}

@media screen and (orientation:portrait) {
    .astro {
        top: 35%;
        left: 70%;
    }
}

.astro::after {
    content: "";
    display: block;
    padding-bottom: 58%;
}
@-webkit-keyframes astro-swing {
    0% {
        -webkit-transform: translate3d(-5.87785vmin, 5.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 5.09017vmin, 0);
    }
    10% {


        -webkit-transform: translate3d(-5.87785vmin, 4.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 4.09017vmin, 0);
    }
    20% {
        -webkit-transform: translate3d(-9.51057vmin, 10vmin, 0);
        transform: translate3d(-9.51057vmin, 10vmin, 0);
    }
    30% {
        -webkit-transform: translate3d(0vmin, 8.09017vmin, 0);
        transform: translate3d(0vmin, 8.09017vmin, 0);

    }
    40% {
        -webkit-transform: translate3d(5.87785vmin, -3.09017vmin, 0);
        transform: translate3d(5.87785vmin, -3.09017vmin, 0);
    }
    50% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    60% {
        -webkit-transform: translate3d(9.51057vmin, -8.09017vmin, 0);
        transform: translate3d(9.51057vmin, -8.09017vmin, 0);
    }
    70% {
        -webkit-transform: translate3d(0vmin, -3.09017vmin, 0);
        transform: translate3d(0vmin, -3.09017vmin, 0);
    }
    80% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    90% {
        -webkit-transform: translate3d(9.51057vmin, -3.09017vmin, 0);
        transform: translate3d(9.51057vmin, -3.09017vmin, 0);
    }
    100% {
        -webkit-transform: translate3d(5.87785vmin, 10vmin, 0);
        transform: translate3d(5.87785vmin, 10vmin, 0);
    }
}
@keyframes astro-swing {
    0% {
        -webkit-transform: translate3d(-5.87785vmin, 5.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 5.09017vmin, 0);
    }
    10% {

        -webkit-transform: translate3d(-5.87785vmin, 4.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 4.09017vmin, 0);
    }
    20% {
        -webkit-transform: translate3d(-9.51057vmin, 10vmin, 0);
        transform: translate3d(-9.51057vmin, 10vmin, 0);
    }
    30% {
        -webkit-transform: translate3d(0vmin, 8.09017vmin, 0);
        transform: translate3d(0vmin, 8.09017vmin, 0);

    }
    40% {
        -webkit-transform: translate3d(5.87785vmin, -3.09017vmin, 0);
        transform: translate3d(5.87785vmin, -3.09017vmin, 0);
    }
    50% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    60% {
        -webkit-transform: translate3d(9.51057vmin, -8.09017vmin, 0);
        transform: translate3d(9.51057vmin, -8.09017vmin, 0);
    }
    70% {
        -webkit-transform: translate3d(0vmin, -3.09017vmin, 0);
        transform: translate3d(0vmin, -3.09017vmin, 0);
    }
    80% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    90% {
        -webkit-transform: translate3d(9.51057vmin, -3.09017vmin, 0);
        transform: translate3d(9.51057vmin, -3.09017vmin, 0);
    }
    100% {
        -webkit-transform: translate3d(5.87785vmin, 10vmin, 0);
        transform: translate3d(5.87785vmin, 10vmin, 0);
    }

}


/*************************
*******music CSS******
**************************/
#music {
    background-color: #33888F;
    background-image: url("../images/performar-bg.jpg");
    background-position: 100% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.guitar {
    position: absolute;
    right:0;
    top: 0
}


#music h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}



/*************************
*******food CSS**********
**************************/

#food {
    background-color: #75B46E;
    background-image: url("../images/about-bg.jpg");
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#food h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}


/*
#food .btn-primary {
    background-color: #137c61;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
}

#food .btn-primary:hover {
    background-color: #126d55
}

.food-content {
    width: 50%;
    background-image: url("../images/about-bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 110px;
}*/

#servizio-navetta{
    background-color: #C54B34;
}
/*************************
*******beer CSS**********
**************************/

#beer {
    background-color: #C54B34;
    background-image: url(../images/event-bg.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#beer h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}



#beer .btn-primary {
    background-color: #C54B34;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
}

#beer .btn-primary:hover {
    background-color: #126d55
}

.beer-content {
    /*width: 100%;

    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px 100px;*/
}

/*************************
*******About CSS**********
**************************/

#about {
    background-color: #75B46E;
    background-image: url("../images/about-bg.jpg");
    background-position: 100% 0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;


}


#about h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}













.med-sponsor {
    margin-bottom: 120px;
}

.small-sponsor {
    margin-bottom: 50px;
}




.logo-sponsor-med {
    width: 100%;
}

.logo-sponsor-small {
    width: 90%;
}

.birrifici-row{
    margin-left: 50px;
}

.logo-birrifici img{
    width: 70%;
}

.logo-birrifici{
    margin-bottom: 50px;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vtop {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row-music{
    margin-bottom: 15px;
}




.ad {
    position: absolute;
    display: block;
    left: 0%;
    bottom: -1%;
    height: 25%;
}

.scattomatto{
    left :10%;
}

.webus{
    left :20%;
}

.bcc{
    left :30%;
}

.raff{
    left :40%;
}

.ad img{

    height: 70%;
}

#bus_img{
    width: 120%;
}

@media screen and (orientation:portrait) {
    .ad {
        position: absolute;
        display: block;
        left: 0%;
        bottom: -2%;
        height: 15%;
    }

    .coop{
        left :0%;
    }

    .scattomatto{
        left :20%;
    }

    .webus{
        left :40%;
    }

    .bcc{
        left :60%;
    }

    .raff{
        left :80%;
    }

    #bus_img{
        width: 50%;
    }
}


.ampli {
    position: absolute;
    right: 5%;
    bottom: 25%;
    width: 100%;
    height: 10%;
    background: url("../images/ampli.png") no-repeat 100% 100%;
    background-size: contain;
}

@media screen and (orientation:portrait) {
    .onde {
        bottom:24%;
    }
    .ampli {
        bottom:15%;
    }
}

.cassa {
    position: absolute;
    right: 28%;
    bottom: 2%;
    width: 100%;
    height: 10%;
    background: url("../images/cassa.png") no-repeat 100% 100%;
    background-size: contain;
}



.bollino-day {
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    padding: 0;
    color: #347176;
    font-weight: 900;
    font-size: 5.5em;
    border-radius: 50%;
    background-color: white;
    font-family: LineUp;
}


@font-face {
    font-family: LineUp;
    src: url(ShadyLane.ttf);
    font-weight:600;
}


.lineup-name{
    text-align: center;
    font-family: LineUp;
}



.first-row-music{
    font-size: 3.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.second-row-music{
    font-size: 2.5em;
    margin-bottom: 1em;
}

.third-row-music{
    font-size: 2em;
    margin-bottom: 1em;
}

.forth-row-music{
    font-size: 1.8em;
    margin-bottom: 1em;
}